.chat-input, .chat-input > input{
    width: 100%;
    top: 20px;
}

.chat-bot-container {
    position: absolute;
    background-image: url("./img/bg2.png");
    padding: 10px;
    border-radius: 10px;
    width: 98%;
}
.chat-msg-container {
    word-break: break-all;
    overflow: auto;
    display: block;
    height: 92%;
}

.msgBox{
    display: inline-block;
    margin: 5px !important;
    padding: 5px 10px !important;
    top: 2px;
}